.container{
    margin-top:20px;
    padding-bottom: 100px;
    list-style: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

div.error_explanation li {
    list-style:none;
}

.file_field{
    margin-left: auto;
    margin-right: auto;
}

div { text-align : center ; }


